<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo App</title>
</head>

<body>

<h1>Todo App</h1>

<form th:action="@{/tasks}" th:object="${task}" method="post">

    <input
            type="text"
            th:field="*{title}"
            placeholder="Task title"
            required>

    <br><br>

    <textarea
            th:field="*{description}"
            placeholder="Description">
    </textarea>

    <br><br>

    <button type="submit">
        Add Task
    </button>

</form>

<hr>

<h2>Task List</h2>

<ul>

    <li th:each="task : ${tasks}">

        <form th:action="@{/tasks/{id}/toggle(id=${task.id})}"
                method="post"
                style="display:inline;">

            <button type="submit">

            <span th:if="${task.completed}">
                ☑
            </span>

                <span th:unless="${task.completed}">
                ☐
            </span>

            </button>

        </form>

        <span
                th:text="${task.title}"
                th:style="${task.completed}
        ? 'text-decoration: line-through;'
        : ''">
    </span>

        <form th:action="@{/tasks/{id}/delete(id=${task.id})}"
              method="post"
              style="display:inline;">
            <button type="submit">
                Delete
            </button>
        </form>

        <p th:text="${task.description}"></p>

    </li>

</ul>

</body>
</html>