<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="app">

    <header class="app-header">
        <h1>Todo App</h1>
        <p>Manage your tasks with to do list app</p>
    </header>

    <section class="task-form-card">
        <form th:action="@{/tasks}" th:object="${task}" method="post">

            <input type="text"
                   th:field="*{title}"
                   placeholder="Task title">

            <p class="error"
               th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}"></p>

            <textarea th:field="*{description}"
                      placeholder="Description"></textarea>

            <p class="error"
               th:if="${#fields.hasErrors('description')}"
               th:errors="*{description}"></p>

            <button class="primary-btn" type="submit">
                Add Task
            </button>

        </form>
    </section>

    <section class="filter-bar">
        <a th:href="@{/}"
           th:classappend="${status == null} ? 'active' : ''">All</a>

        <a th:href="@{/(status='active')}"
           th:classappend="${status == 'active'} ? 'active' : ''">Active</a>

        <a th:href="@{/(status='completed')}"
           th:classappend="${status == 'completed'} ? 'active' : ''">Completed</a>
    </section>

    <section class="task-list">
        <h2>Task List</h2>

        <div class="empty-state" th:if="${#lists.isEmpty(tasks)}">
            <p>No tasks yet. Create your first task 🚀</p>
        </div>

        <div class="task-card" th:each="task : ${tasks}">

            <div class="task-main">

                <form th:action="@{/tasks/{id}/toggle(id=${task.id})}"
                      method="post">
                    <button class="toggle-btn" type="submit">
                        <span th:if="${task.completed}">☑</span>
                        <span th:unless="${task.completed}">☐</span>
                    </button>
                </form>

                <div class="task-content">
                    <h3 th:text="${task.title}"
                        th:classappend="${task.completed} ? 'completed' : ''"></h3>

                    <p th:text="${task.description}"></p>
                </div>

            </div>

            <div class="task-actions">
                <a class="edit-btn"
                   th:href="@{/tasks/{id}/edit(id=${task.id})}">
                    Edit
                </a>

                <form th:action="@{/tasks/{id}/delete(id=${task.id})}"
                      method="post">
                    <button class="delete-btn"
                            type="submit"
                            onclick="return confirm('Delete this task?')">
                        Delete
                    </button>
                </form>
            </div>

        </div>
    </section>

</div>

</body>
</html>